<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iitians Project Hub</title>


  <!-- external css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/userOtherFiles.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/userHeader.css" />

  <!-- favicon -->
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
</head>
<body>

  <nav class="navbar">
    <div class="max-width">
      <div class="menu-btn">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo">
        <a href="#">log<span>o</span></a>
      </div>
      <ul class="menu">
        <li><a href="/home" class="menu-btn">Home</a></li>
        <li><a href="/projects" class="menu-btn">Projects</a></li>
        <li><a href="/addProject" class="menu-btn"  aria-current="page"  >New Project</a></li>
        <li><a href="#" class="menu-btn">About</a></li>
        <li><a href="/userDashboard?id=<%= user._id %>" class="menu-btn">Dashboard</a></li>
        <li><a href="/contactUs" class="menu-btn">Contact</a></li>
      </ul>
      <!-- <div class="profile-pic"> -->
      <img
        src="userImages/<%= user.image %>"
        alt="<%= user.image %>"
        class="profile-pic"
        onclick="toggleMenu()"
      />
      <!-- <img src="arpit.jpg" class="profile-pic" onclick="toggleMenu()"> -->
      <!-- </div> -->

      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="userImages/<%= user.image %>" class="profile-pic" />
            <h3><%= user.name %></h3>
          </div>
          <hr />
          <a href="/edit?id=<%= user._id %>" class="sub-menu-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Edit Profile</p>
            <!-- <span>></span> -->
          </a>
          <a href="#" class="sub-menu-link">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p><%= user.email %></p>
          </a>
          <a href="#" class="sub-menu-link">
            <i class="fas fa-mobile-alt"></i>
            <p><%= user.mobile %></p>
          </a>
          <a href="/logout" class="sub-menu-link">
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
            <!-- <span>></span> -->
          </a>
        </div>
      </div>
    </div>
  </nav>



<a href="/home">Home</a>


<section class="add-project">
  <h1 class="title">Create New Project</h1>

  <form action="" method="post" enctype="multipart/form-data" class="input-container">
    
    <input type="hidden" name="user_id" value="<%= user._id %>">


    <input
      type="text"
      name="productTitle"
      placeholder="Project Title"
      required
      class="input-field"
    />
    <br /><br />
    <input
      type="text"
      name="tutorialBy"
      placeholder="Author Name"
      required
      class="input-field"
    />
    <br /><br />
    <input type="text" name="aboutProduct" placeholder="10-15 words about project" required class="input-field" maxlength="47"/>
    <br /><br />
    <label>Project Image</label>
    <input type="file" name="image" required id="image-input" />
    <br /><br />

    <hr />
    <br />
    <h2>Upload Code and Reports about Project</h2>

    <label>Project Code</label>
    <input type="url" name="projectCode" required id="projectCode-input" />
    <br /><br />
    <label>Synopsis</label>
    <input type="file" name="synopsis" required id="synopsis-input" />
    <br /><br />
    <label>Report</label>
        <input type="file" name="report" required id="report-input">
        <br><br>
    <textarea
      name="projectDescription"
      id=""
      cols="30"
      rows="10"
      placeholder="Description About Project 50 to 100 words"
    ></textarea>

    <input type="submit" value="Upload" class="btn" />

    <!-- <a href="/home" class="login-link">Home</a> -->
  </form>

  <% if(typeof message !== 'undefined'){ %>
  <p class="regiter-success-msg"><%= message %>&#x2713;&#x2713;</p>
  <% } %>
</section>

  




<%- include('../layouts/footer.ejs'); %>
<script src="/js/home.js"></script>


</body>
</html>