
      <!-- Dynamic Card -->



      <!-- <%
          if(products.length > 0){
              for(let i = 0; i <products.length; i++){
                  %> -->

      <!-- <div class="card">
                    <div class="card-img">
                      <img src="/projectUploads/<%= products[i].image %>" alt="<%= products[i].image %>">
                    </div>
                    <div class="card-details">
                      <h3><%= products[i].productTitle %></h3>
                      <p>Tutorial By <a href="#" target="_blank"><%= products[i].tutorialBy %></a></p>
                      <span><%= products[i].aboutProduct %></span>
                    </div>
                  <%
              }
          }
      </div> -->
      <!-- else{
        %>
          <h3>Project Not Found</h3>
        <%
    }

  %> -->

























 